body {
  background-image: url("new-bg.jpg");
  font-family: Verdana;
  
  text-align: left;
  color: white;
  text-shadow: 1px 1px #000000;
  margin:50px auto
}

div {
  margin-left:50px;
  margin-right:50px;
  
}

img {
    display: inline-block;
}


/* visited link */
a:visited {
  color: yellow;
}

a:link {
  color: yellow;
}