tml, body {
  margin: 0;
  padding: 0;
  height: 100%;
}

body {
  background: url('new-bg.jpg') repeat;
  color: #FFFF00;
  font-family: "Verdana", "Courier New", sans-serif; 
  text-align: center; 
  padding: 20px;
}

@keyframes rainbow {
  0% { 
    color: #ff0000; 
    text-shadow: 2px 2px 4px rgba(255, 0, 0, 0.5);
  }
  17% { 
    color: #ff00ff;
    text-shadow: 2px 2px 4px rgba(255, 0, 255, 0.5);
  }
  33% { 
    color: #0000ff;
    text-shadow: 2px 2px 4px rgba(0, 0, 255, 0.5);
  }
  50% { 
    color: #00ffff;
    text-shadow: 2px 2px 4px rgba(0, 255, 255, 0.5);
  }
  67% { 
    color: #00ff00;
    text-shadow: 2px 2px 4px rgba(0, 255, 0, 0.5);
  }
  83% { 
    color: #ffff00;
    text-shadow: 2px 2px 4px rgba(255, 255, 0, 0.5);
  }
  100% { 
    color: #ff0000;
    text-shadow: 2px 2px 4px rgba(255, 0, 0, 0.5);
  }
}

.marquee {
  position: relative;
  width: 100%;
  overflow: hidden;
  white-space: nowrap;
  margin: 20px 0;
}

.marquee-content {
  display: inline-block;
  font-size: 20px;
  animation: marquee 8s linear infinite, rainbow 4s linear infinite;
}

@keyframes marquee {
  0% { transform: translateX(100%); }
  100% { transform: translateX(-100%); }
}

.small-image {
  width: 150px;
  height: 150px;
  display: block;
  margin: 0 auto;
  border: 3px solid #FF00FF;
  box-shadow: 0 0 10px #FF00FF;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.small-image:hover {
  transform: scale(1.1);
  box-shadow: 0 0 20px #FF00FF;
}


.silly-image-container {
  width: fit-content;
  margin: 40px auto;
}

.silly-image {
  width: 300px;
  height: auto;
  display: block;
  transition: transform 0.3s ease;
}

.silly-image:hover {
  transform: scale(1.1);
  cursor: pointer;
  transition: none; 
}

@media (max-width: 768px) {
  .silly-image {
    width: 200px;
  }
}

h1 {
  font-size: 48px;
  color: #FFFF00;
}

p {
  font-size: 18px;
  margin: 10px;
  line-height: 1.6;
}

a {
  text-decoration: none;
  animation: rainbow 4s linear infinite;
  transition: all 0.3s ease;
}

a:hover {
  animation: none;
  color: #FF00FF;
  text-shadow: 1px 1px 5px #FF00FF;
}

audio {
  margin: 20px auto;
  display: block;
  width: 80%;
  max-width: 500px;
}

@media (max-width: 768px) {
  .silly-image {
    width: 300px;
  }
}